<form method="post" action="/new">
  <input type="text" name="user" id="user" placeholder="Your name">
  <textarea name="text" id="text" cols="30" rows="10"></textarea>
  <button type="submit">Send</button>
</form>