@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');
:root {
  --bg: #eff6ff;
  --user: #0f172a;
  --text: #737373;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  padding: 2rem 1rem;
  font-family: Barlow Semi Condensed;
}

header {
  text-align: center;
}

nav {
  margin-top: 1rem;
}

button {
  background: white;
  border-radius: 1rem;
  padding: 0.6rem 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content > .message {
  width: 50%;
  background: white;
  margin: 1rem;
  padding: 1rem;
}

.user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.new_msg {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

h3 {
  color: var(--user);
}

p, span {
  color: var(--text);
}

span {
  font-size: 0.8rem;
}

@media screen and (max-width: 1024px) {
  .content > .message {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .content > .message {
    width: 85%;
  }
}